<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template for class based views</title>
</head>
<body>
<h1>Class Based Views Template</h1>
<p>Lorem ipsum odor amet, consectetuer adipiscing elit. Ad mattis integer facilisis sit venenatis, taciti tellus penatibus. Neque efficitur ex molestie justo posuere. Quisque leo dictum erat scelerisque habitasse lobortis. Nascetur class interdum lobortis adipiscing tempus. Commodo dolor sit tellus molestie ex dignissim ante velit non. Sed fusce scelerisque penatibus, ad hac consequat vivamus. Suspendisse metus cursus volutpat cubilia ultrices. Sit eros massa justo; penatibus auctor morbi volutpat quisque curae. Lacinia integer fusce ipsum accumsan praesent malesuada.</p>
</body>
</html>