{% extends './menu.html' %}
{% block header %}
{{ block.super }}
{% endblock %}
{% block menu %}
{{ block.super }}
<span class="menu"><a href="#">Пункт меню только для Игр</a> ||</span>
{% endblock %}
{% block content %}
{% if len_games == 0 %}
<h2>Не время для игр!</h2>
{% else %}
<ul>
    {%for i in games%}
    <li>{{ i.title }} &nbsp; | &nbsp; {{ i.description }} &nbsp; | &nbsp; {{ i.price }} &nbsp;<button>Купить</button></li>
    {%endfor%}
</ul>
{% endif %}
<span><a class="button" href="{{ back_url }}">Вернуться обратно</a></span>
{% endblock %}
{% block footer %}
{{ block.super }}
{% endblock %}