{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
{% if error %}
<p><strong>{{ error }}</strong></p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="form">
    <div class="field">
    <label for="login">Введите логин:</label>
    <input type="text" id="login" name="login" maxlength="80" required />
    </div><div class="field">
    <label for="password">Введите пароль:</label>
    <input type="password" id="password" name="password" minlength="8" required />
    </div><div class="field">
    <label for="password_repeat">Повторите пароль:</label>
    <input type="password" id="password_repeat" name="password_repeat" required />
    </div><div class="field">
    <label for="age">Введите свой возраст:</label>
    <input type="text" id="age" name="age" maxlength="3" required />
    </div><div class="field">
        <button type="submit">Отправить</button>
    </div>
        </div>
</form>
</body>
</html>